.features {
  padding: 4rem 0;
}

.featureGrid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1199px) {
  .featureGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .featureGrid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .features {
    padding: 2rem 0;
  }
}
